name: CI

on:
  - push
  - pull_request

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: 'Install Ruby'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Install blog dependencies using Ruby
        run: |
          gem install bundler
          bundle install --jobs "$(getconf _NPROCESSORS_ONLN)" --retry 3

      - name: Build static files
        run: bundle exec jekyll build -d _site

      - name: Test
        run: bundle exec htmlproofer --ignore-urls "/archive.ph/,/sane-project.org/,/www.directv.com/,/player.vimeo.org/,/www.phpunit.de/" ./_site
